@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

body {
  background-image: url(../images/background.png);
}

/*Banner superior con logo y botones de perfil y contacto*/

.logo__2 {
  width: 50px;
}

.banner {
  background-color: #e9c46aff;
  color: #264653ff;
  padding: 10px 0 10px 0;
}

.banner__logo {
  margin-left: 20px;

}

.banner__logo__h {
  display: inline-block;
  margin-left: 5px;
}

.banner__right {
  display: inline-block;
  margin-left: 75%;
}

.banner__right__items {
  display: block;
}

/*Nav Bar*/

.nav a {
  width: 100%;
  color: #e9c46aff;
}

.nav__menu {

  padding: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #264653ff;
}

.icon {
  width: 25px;
}

/*Main Index*/

video {
  display: block;
  margin: auto;
  padding: 50px;
  width: 60%;
}

.searchbar {
  padding: 80px;
}

.searchbar__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar__items--p {
  font-size: 30px;
  color: #264653ff;
  margin-bottom: 10px;
}

span {
  color: #fe3434ff;
}

.input__index {
  width: 300px;
  height: 30px;
}

.searchbar__button {
  margin-top: 15px;
}


/*Area de recomendaciones Index*/

.reco__h2__index {
  margin-left: 15px;
  padding-bottom: 15px;
  color: #264653ff;
}

.reco__index {
  list-style: none;
  display: flex;
  padding: 15px;
}

.reco__card {
  padding: 10px;
}

.reco__image {
  width: 90%;
  padding-bottom: 10px;
}

.reco__title__index {
  margin-bottom: 10px;
}

.reco__descr__index {
  font-size: 16px;
  font-style: italic;
  color: #264653ff;
}

/*Mains*/

.selection {
  padding: 15px;
}

.reco__h2 {
  padding: 20px 0 20px 0;
  color: #264653ff
}

.selectors {
  padding: 20px 50px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 250px;
}

label {
  font-size: 16px;
  color: #264653ff;
}

#selection_p {
  font-size: 20px;
  color: #fe3434ff;
  font-style: italic;
}

/* Recomendados*/

.reco {
  display: flex;
  margin: 10px;
  padding: 0 10px 0 10px;
  gap: 10px;
}

#img_hotel {
  width: 400px;
}

h4 {
  font-size: 20px;
  color: #fe3434ff;
}

.reco__title {
  margin-left: 20px;
}

.reco__descr {
  padding-right: 50px;
  margin-left: 20px;
  font-size: 18px;
  font-style: italic;
  color: #264653ff;
  text-align: justify;
}

/* Mapa y comentarios*/

.comment_title {
  font-size: 16px;
  font-weight: bold;
  color: #264653ff;
  margin: 40px 0 0 20px;
}

.comments_section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.comments {
  font-size: 16px;
  color: #264653ff;
  text-align: justify;
}

.comments_name {
  font-size: 16px;
  font-weight: bold;
  color: #fe3434ff;
}

iframe {
  margin: 10px;
  padding: 10px;
}

.comment_p {
  width: 90%;
}

/*Blog Articulos*/

.blog_images {
  width: 100%;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  padding: 20px;

}

figcaption {
  font-size: 14px;
  color: #264653ff;
  font-style: italic;
}

.article_title {
  font-size: 16px;
  color: #fe3434ff;
  margin: 20px 0 10px 0;
  justify-content: first baseline;
}


.article_p,
.discount_p {
  font-size: 14px;
  color: #264653ff;
}

/*Aside con descuentos Blog*/

.discounts {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  padding: 50px;
}

.discount {
  display: flex;
  align-items: center;
}

.discount_images {
  width: 30%;
}


/* Formulario de Contacto */

.title {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

input {
  width: 300px;
}

.form_p {
  padding: 10px 0 10px 0;
  font-size: 20px;
  color: #fe3434ff;
}

#form_btn {
  width: 150px;
}

textarea {
  margin: 10px 0 10px 0;
}


/*Main - Creacion de Perfil*/

.form_port {
  width: 20%;
}

/* Footer*/


.logo__1 {
  width: 45px;
}


footer {
  padding: 15px;
  background-color: #e9c46aff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-size: 16px;
  color: #264653ff;
}

.footer__links a {
  text-decoration: none;
  color: #264653ff;

}

.footer__icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 5px;
}