@import '../base/lists';
@import '../base/mixin';

.articles {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    padding: 1.5rem;

    .blog_images {
        width: 100%;
    }

    figcaption {
        font-size: 0.8rem;
        color: nth($colors, 2);
        font-style: italic;
       
        @media only screen and (max-width:767px) {
            font-size: nth($font-size, 1);
         }
   
    }

    .article-title {
        font-size: nth($font-size, 2);
        color: nth($colors, 3);
        margin: 1rem 0 1rem 0;
        justify-content: first baseline;
    }


    .article-p {
        font-size: nth($font-size, 1);
        color: nth($colors, 2);
    }

    @media only screen and (max-width:450px) {
       grid-template-columns: 1fr;
        }
}

aside {

    .discounts {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        margin: 3rem;
    
        @media only screen and (max-width:450px) {
            grid-template-columns: 1fr;
            gap: 0.5rem;
             }
    
    }

    .discount {

        @include displays (flex, null, center);


        .discount_images {
            width: 10rem;
        }

        .discount_p {
            font-size: nth($font-size, 1);
            color: nth($colors, 2);
            margin-left: 0.5rem;
        }
      
    } 

   
}



