@import '../base/lists';
@import '../base/mixin';


footer {
    padding: 1rem;
    background-color: nth($colors, 1);
    @include displays (flex, space-between, center);

    @media only screen and (max-width:767px) {
        padding: 1rem 0;
    }

    .footer-links {
        a {
            color: nth($colors, 2);

            &:hover {
                color: nth($colors, 3);
                text-decoration: underline;
            }
        }
    }

    .footer-title {
        font-size: nth($font-size, 1);
        color: nth($colors, 2);
        margin: 0;
        padding-left: 1.5rem;
        font-weight: 500;
    }

    .footer-icons {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        gap: 0.5rem;
    }

    .socialicon {
        color: nth($colors, 2);
        font-size: nth($font-size, 4);

        &:hover {
            color: nth($colors, 3);
        }
    }

    .socialicon-footer {
        color: nth($colors, 2);
        font-size: nth($font-size, 4);

        @media only screen and (max-width:767px) {
            font-size: nth($font-size, 2);
        }
    }
}