@import '../base/lists';



.navbarpadd {
  padding: 0;
}

.navbarcolor {
  background-color: nth($colors, 2);

  .navbarfontcolor {
    color: nth($colors, 1);
  }

  .nav-link {
    font-size: 1.2em;
    transition: all 0.5s;

    &:hover {
      background-color: nth($colors, 1);
      color: nth($colors, 3);
    }
  }

  .nav-link.active {
    color: nth($colors, 3);
  }

  /*Al estar fuera de la navbar con clases de Bootstrap el boton contacto necesitaba esta para que figure como "active" cuando esté seleccionado*/

  .navbarcolor-cont {
    color: nth($colors, 3) !important;
  }


}